@import '/src/sass/colors';

.TopbarModal-Component {

}

.menu-wrapper {
    flex-direction: column;
    gap: 1vw;

    .menu-container {
        cursor: pointer;
    }

    .menu-container:hover {
        color: $primary-color;
    }
}