@import '/src/sass/colors';

.Task-Component {
    width: 100%;
    height: 8vw;
    background-color: white;
    flex-direction: column;
    padding: 1vw;

    .top {
        height: 65%;
        
        > div {
            flex-direction: column;
            justify-content: space-between;
        }
    }

    .bottom {
        height: 35%;
    }
}