@import '/src/sass/colors';

.login-page {

    background-color: $primary-color;
    flex: 1;
    height: 100vh;
    justify-content: center;

    #root {
        flex-direction: column;
    }

    .main-container {
        flex-direction: column;
        align-items: center;

        .form-container {
            flex-direction: column;
            align-items: center;
            background-color: $white;
            margin-top: 3vw;
            width: 30vw;
            height: 38vh;
        }
    }

    img {
        width: 30vw;
        margin-top: 4vw;
    }

    a {
        opacity: 0.7;
    }

    Form {
        display: flex;
        flex-direction: column;
        gap: 1vh;
        align-items: center;
        margin-top: 3vh;
    }

    hr {
        width: 27vw;
        border: none;
        border-top: 1px solid $border-gray-color;
        margin-bottom: 3vh;
    }

    label {
        color: white;
        margin-top: 3vh;
        margin-bottom: 0.25vh;
    }

    input {
        text-align: center;
        opacity: 0.7;
        height: 5vh;
        width: 27vw;
        padding-left: 1vw;
        border-radius: 0.3vw;
        border: 1px solid $border-gray-color;
    }

    input:focus {
        outline: 3px solid $secondary-color;
    }

    button {
        background-color: $home-button-color;
        cursor: pointer;
        font-size: 3vh;
        border-radius: 0.2vw;
        height: 5vh;
        width: 27vw;
        border: none;
        color: white;
        transition: 0.3s;
    }
    
    button:hover {
        background-color: black;
        transform: scale(1.1);
    }

    #create-account-button {
        width: 17vw;
    }

    .password-container {
        align-items: center;
        position: relative;

        svg {
            cursor: pointer;
            position: absolute;
            right: 0.5vw;
            transform: scale(0.8);
        }

        svg:hover {
            stroke: $primary-color;
        }
    }
}