@import '/src/sass/colors';

.login-page {

    background-color: $primary-color;
    flex: 1;
    height: 100vh;
    justify-content: center;

    #root {
        display: flex;
        flex-direction: column;
    }

    .main-container {
        flex-direction: column;
        align-items: center;
    }


    img {
        max-height: 30vh;
        margin-top: 9vh;
    }

    Form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 6vh;
    }

    label {
        color: white;
        margin-top: 3vh;
        margin-bottom: 0.25vh;
    }

    input {
        height: 5vh;
        width: 20vw;
        padding-left: 1vw;
        border-radius: 5vw;
        border: none;
    }

    input:focus {
        outline: 3px solid $secondary-color;
    }

    button {
        background-color: #004f4f;
        cursor: pointer;
        font-size: 3vh;
        margin-top: 6vh;
        margin-bottom: 3vh;
        border-radius: 5vw;
        height: 5vh;
        width: 7vw;
        border: none;
        color: white;
        transition: 0.3s;
    }

    button:hover {
        background-color: black;
        transform: scale(1.1);
    }
}