@import '/src/sass/colors';

.Searchbox-Component {
    position: relative;

    .search-input {
        padding-left: 2vw;
    }

    .icon-container {
        position: absolute;
        top: 0.4vh;
        left: 0.1vw;
    }
}