@import '/src/sass/colors';

.Searchbox-Component {
    position: relative;
    
    .search-input {
        padding-left: 2vw;
        outline: none;
    }

    .icon-container {
        position: absolute;
        top: 0.2vh;
        // left: 0.1vw;
    }
}