$primary-color: #6EC1E4;
$secondary-color: #606060;
$background-color: #F5F5F5;
$search-icon-color: #9584FF;
$menu-gray-color: #898989;
$white: #FFFFFF;
$user-tag-container: #CCC4C4;
$user-tag-outline: #E2E2E2;
$home-button-color: #2B92BE;


:export {
    primary: $primary-color;
    search_icon: $search-icon-color;
    menu_gray: $menu-gray-color;
    white: $white;
}