@import '/src/sass/colors';

.MyDay-Component {
    flex-direction: column;
    width: 100%;

    .title {
        margin: 2vw;
        margin-bottom: 0;
        gap: 1vw;
        flex-direction: row;
        align-items: center;
        font-size: 1.8vw;;
    }

    .date {
        margin: 1vw;
    }

    .main-container {
        width: 98%;
        padding-left: 5vw;
        flex-direction: column;

        .customer-tasks, .completed-tasks {
            flex-direction: column;
            gap: 1vw;
        }

    }
}