@import '/src/sass/colors';

.Topbar-Component {
    align-items: center;
    width: 100vw;
    background-color: $primary-color;
    padding: 0.5vw;

    p {
        font-size: 3vh;
        color: white;
        margin-left: 2vw;
        margin-right: 6vw;
    }

    input {
        width: 65vw;
        border: none;
        border-radius: 0.3vw;
        height: 4vh;
    }

    .topbar-icon {
        cursor: pointer;
    }

    .settings-icon-container {
        margin-left: 5vw;
    }

    .notifications-icon-container {
        margin: 0 2vw;
    }

}