@import '/src/sass/colors';


.SideBar-Component {
    flex: 0.15;
    height: 100%;
    flex-direction: column;
    padding-top: 2vh;
    transition: 0.3s;

    * {
        font-family: Segoe UI;
    }

    .button {
        align-items: center;
        cursor: pointer;
        margin: 2vh 0;
        padding: 0 1vw;

        p {
            color: $menu_gray_color;
            margin-left: 1vw;
        }
    }
}