@import '/src/sass/colors';

.Tasks-page {
    flex-direction: column;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100%;

    .SideBar-wrapper {
        height: 100%;

        .main-container {
            background-color: $background-color;
            flex: 1;
            border: solid 1px blue;
        }
    }
}