@import '/src/sass/colors';

.Signup-page {
    background: $primary-color;
    flex: 1;
    flex-direction: column;
    height: 100vh;
    align-items: center;

    .form-container {
        flex-direction: column;
        background-color: $white;
        margin-top: 1vw;
        width: 30vw;
        height: 37vw;
        color: $border-gray-color;
        align-items: center;
    }

    .input-container label {
        align-self: flex-start;
        margin: 0.25vw 0;
        font-size: 1vw;
    }

    img {
        width: 15vw;
        margin-top: 2vw;
    }

    h1 {
        font-size: 2vw;
        margin: 1vw 0 0.5vw;
    }

    .input-container {
        flex-direction: column;
        align-items: center;
    }

    input, select {
        font-size: 1vw;
        text-align: left;
        opacity: 0.7;
        height: 2vw;
        width: 27vw;
        padding-left: 0.5vw;
        border-radius: 0.3vw;
        border: 1px solid $border-gray-color;
    }

    .signup-form {
        flex-direction: column;
    }

    input:focus {
        outline: 3px solid $secondary-color;
    }

    select:focus {
        outline: 3px solid $secondary-color;
    }

    button {
        margin-top: 0.75vw;
        background-color: $home-button-color;
        cursor: pointer;
        font-size: 1.25vw;
        border-radius: 0.2vw;
        height: 2vw;
        width: 27vw;
        border: none;
        color: white;
        transition: 0.3s;
    }
    
    button:hover {
        background-color: black;
        transform: scale(1.1);
    }
}